<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define Appenders (where logs go) -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{36} - %msg%n%throwable"/>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/application.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{36} - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
        
        <!--<SMTP name="Email" subject="Test Execution Report" to="eamon.ishrat@gmail.com" from="no-reply@example.com" smtpHost="smtp.example.com">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <SMTPServer smtpHost="smtp.example.com" smtpPort="587" smtpUsername="your-smtp-username" smtpPassword="your-smtp-password"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </SMTP>-->
    </Appenders>

    <!-- Define Loggers (what to log) -->
    <Loggers>
        <!-- Root logger: logs all messages with a level of INFO or higher -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
           <!-- <AppenderRef ref="Email"/>-->
        </Root>

        <!-- Custom logger for your specific package or class -->
        <Logger name="com.worksafe.onlineinvoice" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <!--<AppenderRef ref="Email"/>-->
        </Logger>
    </Loggers>
</Configuration>
