<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Default logs path if not provided -->
        <Property name="logs.path">C:/TheGit/ei.wdseljava.onlineinvoice/logs</Property>
    </Properties>

    <!-- Define Appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{36} - %msg%n%throwable"/>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="${logs.path}/application.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{36} - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <!-- Define Loggers -->
    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- Custom logger -->
        <Logger name="com.worksafe.onlineinvoice" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>